<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
  <div>
    <p class="a">fsdf</p>
    <p class="a" title="rr">44</p>
    <p class="a" title="rr" page="tt">44</p>
  </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  var s = $('div .a');
</script>