<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/basics.css">
</head>

<body>
  <%=userName%>
    <%include public/header.html%>
      <%-content%>
        <p>
          <%=msg%>
        </p>
        <ul>
          <%for(var i=0;i<li.length;i++){%>
            <li>
              <%=li[i]%>
            </li>
            <%}%>
        </ul>
</body>

</html>